{
font-family: "WarheliosRegular_Web","Arial Narrow",Tahoma,arial,sans-serif;
Highlight: 100%;
position: relative;
color: #999;
font-size: 17px;
line-height: 1.8em;
letter-spacing: .43;
min-width: 1280px;
}	